.list-title {
    text-align: left;
    margin: 0;
    border-left: 8px solid #000;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 700;
}

.content {
    width: 70%;
    height: 85%;
}

.date-select {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 30px;
}

.month-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.month-image {
    width: 20px;
    height: 15px;
}

.month-link {
    font-weight: 700;
    color: #737373;
}

.current-month {
    position: relative;
}

.current-month::after {
    position: absolute;
    top: 50%;
    left: 5px;
    content: "";
    transform: translate(0, -50%);
    background: url("/icon/date.png") no-repeat;
    width: 25px;
    height: 25px;
    z-index: 0;
}

.current-month__input {
    font-size: 20px;
    font-weight: 700;
    width: 30px;
    color: #4B4B4B;
    appearance: none;
    padding-left: 40px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.current-month__text {
    font-size: 20px;
    font-weight: 700;
    width: 170px;
    color: #4B4B4B;
}

.current-month__input::-webkit-calendar-picker-indicator {
    z-index: 10;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

.attendance-table {
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
}

.attendance-table__title {
    border-bottom: 3px solid #E1E1E1;
}

.attendance-table__header-date {
    color: #737373;
    text-align: left;
    padding: 15px 0 8px 60px;
    font-weight: 700;
    width: 20%;
}

.attendance-table__header {
    color: #737373;
    padding: 15px 0 8px;
    font-weight: 700;
    width: 15px;
}

.attendance-table__header-detail {
    color: #737373;
    padding: 15px 0 8px;
    font-weight: 700;
    width: 20%;
}

.attendance-table__row {
    border-bottom: #E1E1E1 2px solid;
}

.attendance-table__row:last-child{
    border-bottom: none;
}
.attendance-table__date {
    color: #737373;
    font-weight: 700;
    padding: 10px 0 10px 60px;
    text-align: left;
}

.attendance-table__data {
    color: #737373;
    font-weight: 700;
    padding: 10px 0;
}

.attendance-table__detail {
    padding: 10px 0;
}

.attendance-table__detail-link {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}